
.DS_Store
Boxes/.DS_Store
Packer/.DS_Store
Packer/.vagrant/machines/default/.DS_Store
Packer/.vagrant/machines/default/virtualbox/vagrant_cwd
Packer/.vagrant/machines/win10/virtualbox/vagrant_cwd
Packer/.vagrant/rgloader/loader.rb
Packer/answer_files/.DS_Store
Packer/packer
Packer/scripts/.DS_Store
Packer/scripts/docker/.DS_Store
Vagrant/.DS_Store
Vagrant/.vagrant/machines/win10/virtualbox/action_provision
Vagrant/.vagrant/machines/win10/virtualbox/action_set_name
Vagrant/.vagrant/machines/win10/virtualbox/box_meta
Vagrant/.vagrant/machines/win10/virtualbox/creator_uid
Vagrant/.vagrant/machines/win10/virtualbox/id
Vagrant/.vagrant/machines/win10/virtualbox/index_uuid
Vagrant/.vagrant/machines/win10/virtualbox/synced_folders
Vagrant/.vagrant/rgloader/loader.rb
Vagrant/resources/.DS_Store
Vagrant/resources/windows/.DS_Store
Vagrant/scripts/.DS_Store
